<%= javascript_include_tag "home" %>

<div class="updatelog-container">
    <div class="updatelog-item">
        <div class="updatelog-date">2021/1/24</div>
        <div class="topic-item">
            <span class="updatelog-employee-topic">アルバイト</span>
            <span class="updatelog-add">機能改善</span>
        </div>
        <div class="updatelog-body">月曜日と第三火曜日を定休日として表示し、シフトを記入できないようにしました</div>
    </div>
    <div class="updatelog-item">
        <div class="updatelog-date">2020/12/20</div>
        <span class="updatelog-manager-topic">店長</span>
        <span class="updatelog-fix">不具合修正</span>
        <div class="updatelog-body">年を跨いでシフトを編集する際に、実際とは異なる日にちが表示される不具合を修正しました</div>
    </div>
    <div class="updatelog-item">
        <div class="updatelog-date">2020/12/19</div>
        <span class="updatelog-manager-topic">店長</span>
        <span class="updatelog-new">新機能</span>
        <div class="updatelog-body">編集中のシフトを保存できるようになりました</div>
    </div>
    <div class="updatelog-item">
        <div class="updatelog-date">2020/11/24</div>
        <span class="updatelog-manager-topic">店長</span>
        <span class="updatelog-new">新機能</span>
        <div class="updatelog-body">確定したシフトをExcelで出力できるようになりました</div>
    </div>
    <div class="updatelog-item">
        <div class="updatelog-date">2020/11/15</div>
        <span class="updatelog-employee-topic">アルバイト</span>
        <span class="updatelog-add">機能改善</span>
        <div class="updatelog-body">選択可能な希望時間を増加しました</div>
    </div>
    <div class="updatelog-item">
        <div class="updatelog-date">2020/11/8</div>
        <div class="updatelog-topic-item">
            <span class="updatelog-manager-topic">店長</span>
            <span class="updatelog-employee-topic">アルバイト</span>
        </div>
        <div class="updatelog-topic-item">
            <span class="updatelog-new">新機能</span>
            <span class="updatelog-add">機能改善</span>
        </div>
        <div class="updatelog-body-item">
            <div class="updatelog-body">全体のデザインを一新しました</div>
            <div class="updatelog-body">シフトを表形式からカレンダー形式に変更しました</div>
            <div class="updatelog-body">曜日一括書き込み機能を追加しました</div>
        </div>
    </div>
</div>