<%= javascript_include_tag "home" %>

<div class="manual">
    <h2 class="manual_headline">初回ログイン</h2>
    <p>
        初めてログインした場合は、画面下部の「パスワード変更」から<span class="emphasize">必ずパスワードを変更してください</span>。
    </p>
    <!--<?php
    if($_SESSION['id']==1){
        echo '-->
        <h2 class="manual_headline">シフト編集</h2>
        <p>
            20日以降になると、アルバイトが提出したシフト表を編集することができるようになります。
        </p>
        <p>
            「従業員を選択」でシフトを編集したい従業員を、「日付を選択」で日にちを、「時間を選択」で就業開始時間をそれぞれ選択できます。
        </p>
        <p>
            「従業員を選択」で選べるのは正社員と、設定されている日付に就業可能なアルバイトです。<br>
            正社員を選択した場合は日にち・時間を自由に指定できますが、アルバイトを選択した場合はそのアルバイトが出勤できる日にちと希望する時間しか選択できません。<br>
            その日のアルバイトをシフトに入れない場合は「時間を選択」で×を選択してください。
        </p>
        <p>
            選択が終わったら「書き込む」ボタンを押してもらうと表の該当箇所が書き換えられます。<br>
            「確定」ボタンを押すとシフト表を確定して全従業員に公開します(前回のシフト表は見えなくなります)。<br>
        </p>

        <!--';
    }
    else{
        echo '-->
        <h2 class="manual_headline">シフト提出</h2>
        <p>
            「日付を選択」で入りたい日にちを選択して、「時間を選択」で時間を選択してください(○は17:00です)。
        </p>
        <p>
            両方選択して「書き込む」ボタンを押すと、表の該当箇所が書き換えられます。<br>
            「全て書き込む」ボタンを押すと、選択されている時間を全ての日にちに書き込みます。<br>
            <span class="emphasize">多くシフトを入れる人は時間設定で○を、そうでない人は×を選択して「全て書き込む」ボタンを押した後、残りの日程を書き込んでいくのがスムーズです</span>。<br>
            赤色の枠は誰もシフトに入っていないことを表しているので、表から赤色を消していくことを意識しましょう。
        </p>
        <p>
            日程が決まったら「送信」ボタンを押してください(「送信」ボタンを押さないと、書き込んだ内容が反映されません)。<span class="emphasize">送信後も提出期限内であれば何度でも修正可能です</span>。
        </p>
        <p>
            シフトの提出は原則毎月20日を期限としており、<span class="emphasize">期限を過ぎるとシフトの修正・送信ができなくなります</span>ので必ず期限内にシフトを提出してください。<br>
            店長がシフトを確定すると全従業員に公開されます。
        </p>
        <p>
            各月の月初めに新しいシフトが提出できるようになります。
        </p>';
    }
    <!--?>-->
    <h2 class="manual_headline">ご意見</h2>
    <p>
        画面下部の「ご意見」ではアプリ作成者にメッセージを匿名で送ることができます。
    </p>
    <p>
        ここがちょっと使いにくい、こんな機能があれば嬉しい、不具合を見つけた、といったことは<span class="emphasize">どんな些細なことでも教えていただけると大変助かります</span>。<br>
        また、聞きたいことや使ってみた感想などもお気軽に送ってください。
    </p>
    <p>
        いただいたご要望は製作者の技術の及ぶ範囲で適宜対応する方針です。<br>
        質問や感想は今後返信を表示できるようなスペースを設けたいと考えています。<br>
        (シフトが重なれば、直接言ってもらっても構いません)
    </p>
    <p>
        より良いシステムを目指すために、ご協力をお願いします！
    </p>
</div>