<%= javascript_include_tag "home" %>

<div class="manual">
    <div class="manual-item">
        <h2 class="manual_headline">シフト編集</h2>
        <p>
            20日以降になると、アルバイトが提出したシフト表を編集することができるようになります。
        </p>
        <p>
            「従業員を選択」でシフトを編集したい従業員を、「日付を選択」で日にちを、「時間を選択」で就業開始時間をそれぞれ選択できます。
        </p>
        <p>
            「従業員を選択」で選べるのは正社員と、設定されている日付に就業可能なアルバイトです。<br>
            正社員を選択した場合は日にち・時間を自由に指定できますが、アルバイトを選択した場合はそのアルバイトが出勤できる日にちと希望する時間しか選択できません。<br>
            その日のアルバイトをシフトに入れない場合は「時間を選択」で×を選択してください。
        </p>
        <p>
            選択が終わったら「書き込む」ボタンを押してもらうと表の該当箇所が書き換えられます。<br>
            「確定」ボタンを押すとシフト表を確定して全従業員に公開します(前回のシフト表は見えなくなります)。<br>
        </p>
    </div>
    <div class="manual-item">
        <h2 class="manual_headline">シフト提出</h2>
        <h3 class="manual_sub_headline">　通常操作　</h3>
        <p class="manual_paragraph">
            ① シフトを入力したい日を選択します
        </p>
        <img src="/assets/usage_1.jpeg" class="usage_img">
        <p class="manual_paragraph">
            ② 希望する時間を選択します<br>
            ③ <i class="fas fa-pen"></i> を押してシフト表に書き込みます
        </p>
        <img src="/assets/usage_2.jpeg" class="usage_img">

        <h3 class="manual_sub_headline">　各種ボタン操作　</h3>
        <img src="/assets/usage_btn_1" class="manual_btn_img">
        <p class="manual_btn_paragraph">
            ボタンを押すと「曜日」と「希望時間」を選択できます<br>
            <i class="fas fa-pen"></i>を押して、指定した曜日全てに希望時間を書き込みます
        </p>
        <img src="/assets/usage_btn_2" class="manual_btn_img">
        <p class="manual_btn_paragraph">
            ボタンを押すと「指定時間」を選択できます<br>
            <i class="fas fa-pen"></i>を押して、シフト表の空白になっている箇所に希望時間を書き込みます
        </p>
        <img src="/assets/usage_btn_3" class="manual_btn_img">
        <p class="manual_btn_paragraph">
            シフトの内容を店長および他の従業員に送信して共有します<br>
            シフトを送信しても、期限内であれば何度でも再送信可能です
        </p>
        <p>
            
        </p>
        <p class="manual_paragraph">
            シフトの提出は原則毎月20日を期限としており、<span class="emphasize">期限を過ぎるとシフトの修正・送信ができなくなります</span>ので必ず期限内にシフトを提出してください。<br>
            なお、各月の月初めに新しいシフトを提出できるようになります。
        </p>
    </div>
    <div class="manual-item">
        <h2 class="manual_headline">ご意見</h2>
        <p class="manual_paragraph">
            「ご意見」ページは現在開発中です
        </p>
        <p class="manual_paragraph">
            使いにくいところや欲しい機能、質問などは、お手数ですが開発者に直接言ってもらうか店長に伝えていただけると助かります
        </p>
        <p class="manual_paragraph">
            些細なことでも気になることを共有していただければ大変助かります<br>
            より良いシステムにするためにご協力をお願いします！
        </p>
    </div>
</div>