// Place all the styles related to the auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color: #eff5fc;
    margin:0;
    font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.wrap{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding-bottom: 300px;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: #404f70;
    margin-top: 0;
}
footer{
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: #404f70;
    position: absolute;
    bottom: 0;
}
#copyright {
    text-align: center;
    color: #fff;
}
#title{
    margin-left: 10px;
    font-size: 30px;
    display: inline;
}
#logo {
    width: 8%;
    height: 8%;
    margin-left: 20px;
}
.nav {
    text-align: right;
    display: block;
    margin: 50px 0 0;
}
.flash-logout, .flash-changed {
    text-align: center;
    font-weight: 500;
    background-color: rgb(139, 255, 139);
}
.flash-error {
    text-align: center;
    font-weight: 500;
    background-color: rgb(255, 151, 151);
}
.form {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 3px 10px #c1ced7;
}
#employee_num, #password{
    margin: 10px 0 20px 0;
}
.form-heading {
    font-weight: 300;
    margin: 60px 0 20px;
    font-size: 48px;
    color: #bcc8d4;
}
.form-body {
    padding: 30px;
}
.form-error {
    color: #ff4d75;
}
.form input {
    width: 95%;
    border: 1px solid #d8dadf;
    padding: 10px;
    color: #57575f;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 2px;
}
.form textarea {
    width: 100%;
    min-height: 110px;
    font-size: 16px;
    letter-spacing: 2px;
}
.form input[type="submit"] {
    background-color: #404f70;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 0;
    float: right;
}
.form-body:after {
    content: '';
    display: table;
    clear: both;
}
.user_shift, .user_rest {
    min-height: 30px;
    font-size: 15px;
}
/*.user_rest {
    min-height: 30px;
    margin-bottom: 3px;
}*/



@media(max-width:767px){
    .wrap {
        padding-bottom: 100px;
    }
    select,input{
        font-size:16px;
    }
    footer{
        padding :10px 0;
    }
    #limit{
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .headline{
        font-size: x-large;
    }
    .headline_div{
        margin-left: 0;
        text-align: center;
    }
    .scroll{
        margin-left: 10px;
        margin-right: 10px;
    }
    .form_block{
        display: block;
        margin: 10px;
    }
    .footer_menu{
        display: inline;
    }

    #send_button,.text_form{
        text-align: center;
    }
    textarea{
        width: 90%;
        height: 30%;
        margin: 0;
    }
}